name: Build and Push Docker Image

on:
  push:
    branches: ['main'] # Tự động chạy khi push code lên branch main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./whiteboard-backend
          push: true
          tags: minhdang04/whiteboard-backend:latest, minhdang04/whiteboard-backend:${{ github.sha }}
      - name: Build and Push Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./whiteboard-frontend
          push: true
          tags: minhdang04/whiteboard-frontend:latest
